{% if redis_instance_description is defined %}
#
# {{ redis_instance_description }}
#
{% endif %}

daemonize yes
pidfile /var/run/redis/{{ redis_servicename }}.pid

{% if redis_listen_tcp %}
bind {{ redis_bind }}
port {{ redis_port }}
{% else %}
port 0
{% endif %}

{% if redis_password is defined %}
requirepass "{{ redis_password }}"
{% endif %}

{% if redis_unixsocket %}
unixsocket {{ redis_unixsocket }}
unixsocketperm {{ redis_unixsocketperm }}
{% end %}

timeout {{ redis_timeout }}
loglevel notice
logfile /var/log/redis/{{ redis_servicename }}.log


databases 16
save 900 1
save 300 10
save 60 10000
rdbcompression yes
dbfilename dump.rdb
dir /var/lib/{{ redis_servicename }}
slave-serve-stale-data yes
appendonly no
appendfsync everysec
no-appendfsync-on-rewrite no
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb
slowlog-log-slower-than 10000
slowlog-max-len 1024

activerehashing yes
