# puppet managed file
<% if defined?(@description) -%>
  
#
# <%= @description %>
#
<% end -%>

daemonize <%= scope.function_bool2yesno([@daemonize]) %>
pidfile /var/run/redis-<%= @redis_instancename %>/redis.pid


<% if @listen_tcp -%>
bind <%= @bind %>
port <%= @port %>
<% else -%>
port 0
<% end -%>
<% if defined?(@password) -%>
requirepass "<%= @password %>"
<% end -%>

<% if defined?(@unixsocket) -%>
unixsocket <%= @unixsocket %>
unixsocketperm <%= @unixsocketperm %>
<% end -%>

timeout <%= @timeout %>
loglevel notice
logfile /var/log/redis/redis-<%= @redis_instancename %>.log


databases 16
save 900 1
save 300 10
save 60 10000
rdbcompression yes
dbfilename dump.rdb
dir /var/lib/redis-<%= @redis_instancename %>
slave-serve-stale-data yes
appendonly no
appendfsync everysec
no-appendfsync-on-rewrite no
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb
slowlog-log-slower-than 10000
slowlog-max-len 1024

activerehashing yes
